# Exploratory Data Analysis

This notebook will cover EDA on the dataset 'vehicles_us.csv'

## Imports

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import notebook_utils.notebook_auxiliaries as aux

## Load

In [2]:
data = pd.read_csv('../data/vehicles_us.csv')
data.info()
data.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
44769,33800,2018.0,chevrolet silverado,like new,8.0,gas,22700.0,automatic,truck,white,1.0,2018-08-30,9
27860,4295,2009.0,volkswagen jetta,good,4.0,gas,176000.0,automatic,sedan,NaN,NaN,2019-03-21,21
43291,20500,2015.0,toyota tundra,excellent,8.0,gas,NaN,automatic,truck,NaN,1.0,2018-09-20,21
16639,1,2015.0,jeep grand cherokee,excellent,8.0,gas,42442.0,automatic,SUV,black,1.0,2019-01-03,38
2733,7800,2011.0,ford f-150,fair,NaN,gas,198000.0,automatic,truck,white,1.0,2019-01-10,18

File seems to have been read successfully and column names are ok.

## Fixing missing malues, duplicates, and data types

### Missing values

In [3]:
aux.isna_report(data)

*** Missing/Null values report ***
----------------------------------
Single column analysis

3619 (7.0%) missing values in column: 'model_year'
5260 (10.2%) missing values in column: 'cylinders'
7892 (15.3%) missing values in column: 'odometer'
9267 (18.0%) missing values in column: 'paint_color'
25953 (50.4%) missing values in column: 'is_4wd'

Multiple column analysis (2)

363 (0.7%) concurrent missing values in: ('model_year', 'cylinders')
549 (1.1%) concurrent missing values in: ('model_year', 'odometer')
652 (1.3%) concurrent missing values in: ('model_year', 'paint_color')
1811 (3.5%) concurrent missing values in: ('model_year', 'is_4wd')
812 (1.6%) concurrent missing values in: ('cylinders', 'odometer')
950 (1.8%) concurrent missing values in: ('cylinders', 'paint_color')
2681 (5.2%) concurrent missing values in: ('cylinders', 'is_4wd')
1455 (2.8%) concurrent missing values in: ('odometer', 'paint_color')
4016 (7.8%) concurrent missing values in: ('odometer', 'is_4wd')
4637 (9.0%) concurrent missing values in: ('paint_color', 'is_4wd')

Multiple column analysis (3)

59 (0.1%) concurrent missing values in: ('model_year', 'cylinders', 'odometer')
51 (0.1%) concurrent missing values in: ('model_year', 'cylinders', 'paint_color')
178 (0.3%) concurrent missing values in: ('model_year', 'cylinders', 'is_4wd')
97 (0.2%) concurrent missing values in: ('model_year', 'odometer', 'paint_color')
286 (0.6%) concurrent missing values in: ('model_year', 'odometer', 'is_4wd')
339 (0.7%) concurrent missing values in: ('model_year', 'paint_color', 'is_4wd')
154 (0.3%) concurrent missing values in: ('cylinders', 'odometer', 'paint_color')
430 (0.8%) concurrent missing values in: ('cylinders', 'odometer', 'is_4wd')
480 (0.9%) concurrent missing values in: ('cylinders', 'paint_color', 'is_4wd')
730 (1.4%) concurrent missing values in: ('odometer', 'paint_color', 'is_4wd')

Multiple column analysis (4)

9 (0.0%) concurrent missing values in: ('model_year', 'cylinders', 'odometer', 'paint_color')
36 (0.1%) concurrent missing values in: ('model_year', 'cylinders', 'odometer', 'is_4wd')
27 (0.1%) concurrent missing values in: ('model_year', 'cylinders', 'paint_color', 'is_4wd')
47 (0.1%) concurrent missing values in: ('model_year', 'odometer', 'paint_color', 'is_4wd')
81 (0.2%) concurrent missing values in: ('cylinders', 'odometer', 'paint_color', 'is_4wd')

Multiple column analysis (5)

4 (0.0%) concurrent missing values in: ('model_year', 'cylinders', 'odometer', 'paint_color', 'is_4wd')

-----------------------------------
+++ Report END +++

* The column 'is_4wd' is 50% missing values, it'll be removed.
* The rows with missing values in 'model_year' amount to less than 10% of all the rows, they can be dropped.
* The rows with missing values in 'cylinders' amount to around 10% of all the rows, they can be dropped.
* The column 'paint_color' has over 17% missing values, they will be inputed with the most common color (the mode) for cars of the same model ('model' column).
* The column 'odometer' has around 15% missing values, they'll be inputed with the mean odometer readings for cars of the same condition and same model ('condition' & 'model' columns).
* Rows with multiple missing values are rare in the data set.

In [4]:
data = aux.fix_nas(data)

*** Fixing missing values ***
-----------------------------
Dropping column: 'is_4wd'...
Dropping rows with missing values from 'model_year' and 'cylinders'...
Inputting values for 'paint_color'...
Inputting values for 'odometer'...
Starting rows: 51525 Rows after: 43009 (8516 rows lost, 16.5%)
Starting columns: 13 Columns after: 12 (1 columns lost, 7.7%)
-----------------------------
+++ Missing values FIXED +++

Report on missing values, again.

In [5]:
aux.isna_report(data)

*** Missing/Null values report ***
----------------------------------
No missing values found.
-----------------------------------
+++ Report END +++

### Duplicates

In [6]:
data.duplicated().sum()

np.int64(0)

* There are no explicit, full-row duplicates.
* No variable or combination of variables seems to work as a unique identifier.
* There is no need to check for duplicates in individual columns or combinations of columns.

### Data types

In [7]:
print(aux.check_info_in_decimals(data['model_year']))
data.info()

0
<class 'pandas.core.frame.DataFrame'>
Index: 43009 entries, 0 to 51524
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         43009 non-null  int64
 1   model_year    43009 non-null  float64
 2   model         43009 non-null  object
 3   condition     43009 non-null  object
 4   cylinders     43009 non-null  float64
 5   fuel          43009 non-null  object
 6   odometer      43009 non-null  float64
 7   transmission  43009 non-null  object
 8   type          43009 non-null  object
 9   paint_color   43009 non-null  object
 10  date_posted   43009 non-null  object
 11  days_listed   43009 non-null  int64
dtypes: float64(3), int64(2), object(7)
memory usage: 4.3+ MB